


#content{
  color: black;
  text-align: center;
  font-style: Boulder
}


#byline{
  color: black;
  text-align: left;
  font-style: italic;
}


#Headline{
  color: black;
  text-align: center;
  font-style: boldest;
  font: Times-New-Roman;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.subheadings {
  text-align: center;
}
